* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato-Regular", "Lato", sans-serif;
}

.navSearch {
  position: absolute;
  top: 12px;
  right: 22px;
}

nav {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: #0d0d0d;
  opacity: 0.952941176470588;
  color: #f2f2f2;
  font-size: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-links {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
  width: 50%;
  margin-left: 70px;
  margin-top: 12px;
  font-size: 12px;
  letter-spacing: 0.9px;
  color: #e5e0e0;
}

ul {
  overflow: hidden;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
}

/* li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
} */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: whitesmoke;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#login-container {
  width: 100%;
  padding: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

#login-form {
  padding: 22px;
  margin: 50px;
  border-radius: 4px;
  text-align: center;
}

.loginbox {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

.loginButton {
  text-align: center;
  width: 30%;
  color: #020202;
  border: 1px solid #ccc;
  padding: 10px 18px;
  margin: 8px 0;
}

.formButton {
  background-color: #020202;
  color: #e5e0e0;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.formButton:hover {
  opacity: 0.8;
}

.forgetButton {
  padding: 10px 18px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: auto;
  cursor: pointer;
  background-color: #f44336;
}

.span.psw {
  float: left;
  padding-top: 16px;
}

#underline {
  display: block;
  width: 100%;
  margin: 4px -1px; /* top right bottom left*/
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #f2f2f2;
}

a:visited {
  text-decoration: none;
  color: #f2f2f2;
}

a:hover {
  color: #6e6e6e;
}

a:active {
  text-decoration: red;
}

.searchinput {
  padding: 6px;
  font-size: 24px;
  border: none;
  float: left;
}

button:hover {
  background: #ccc;
}

.searchbutton {
  float: right;
  padding: 6px;
  margin-left: none;
  margin-right: none;
  background: #ddd;
  font-size: 24px;
  border-bottom: none;
  border-top: none;
  border-left: none;
  cursor: pointer;
}

.searchBar {
  height: 30px;
  font-size: 15px;
  margin-top: 7px;
}

.heroImg {
  background-image: url(/images/forest/u7.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroImgGalMou {
  background-image: url(/images/mountain/u114.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalFor {
  background-image: url(/images/forest/u7.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalOce {
  background-image: url(/images/ocean/pierre-leverrier-k0Ynnf2CbKw-unsplash.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalAut {
  background-image: url(/images/autumn/sebastian-unrau-CoD2Q92UaEg-unsplash.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalVal {
  background-image: url(/images/valley/jamie-hagan-RWzPBcWVdpw-unsplash.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalSno {
  background-image: url(/images/snow/wladislaw-sokolowskij-0vw4InAC-yM-unsplash.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalFar {
  background-image: url(/images/farm/alex-wigan-0xO65I5N6Vw-unsplash.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalSun {
  background-image: url(/images/sunset/pexels-sasha-martynov-1212600.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroImgGalAni {
  background-image: url(/images/animals/pexels-theother-kev-2264552.jpg);
  height: 350px;
  width: 75%;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 0 0 4px black;
}

.heroTxt {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #e5e0e0;
  font-size: 45px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.mainTitle1 {
  letter-spacing: 16.5px;
  margin-bottom: 30px;
}

.mainTitle2 {
  letter-spacing: 4px;
}

.mainTitle3 {
  letter-spacing: 17px;
  margin-top: 30px;
}

.mainTitleGal {
  letter-spacing: 16.5px;
  margin-bottom: 30px;
}

.categories {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 25vw);
  grid-gap: 8px;
}

.gallery {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 14.2vw;
  /*grid-template-rows: repeat(3, 14.2vw);*/
  grid-gap: 8px;
}

.categoryImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryImg img:hover {
  filter: brightness(50%);
  transition: filter 0.5s ease;
}

.galleryPreview {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.overlay {
  position: absolute;
  bottom: 0;
  /*left: 30px;*/
  /*right: 60;*/
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  text-align: center;
}

.galleryPreview:hover .overlay {
  opacity: 1;
}

.galleryPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: all;
}

.galleryPreview img:hover {
  /*filter: brightness(50%);*/
  transition: filter 0.5s ease;
}

.galleryModal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.galleryModal.open {
  opacity: 1;
  pointer-events: all;
}

.imgTitle {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 6%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%);
}

.imgCaption {
  color: white;
  font-size: 1rem;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}

.closeButton {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-50%);
}

.closeButton:hover {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(-50%, -15%);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.modalFullImg {
  position: absolute;
  height: 80%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
  object-fit: contain;
}

.modalFullImg.open {
  transform: translate(-50%, -50%) scale(1);
}

.catDesc {
  position: relative;
  bottom: 55px;
  left: 30px;
  color: #e5e0e0;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.9px;
}

.footerBar {
  display: flex;
  align-items: center;
  min-height: 8vh;
  background-color: #020202;
  color: #f2f2f2;
  font-size: 30px;
}

.footerTxt {
  text-transform: uppercase;
  width: 50%;
  margin-left: 30px;
  font-size: 12px;
  letter-spacing: 0.9px;
  color: #e5e0e0;
}

.footerImg {
  background-image: url(images/homepage/u1.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Changes made by Corey start */

.aboutUsBg {
  background-image: url("/images/mainbg.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.aboutUsHeader {
  text-align: center;
  text-decoration: underline;
  font-size: 36px;
  padding: 150px;
  animation-name: letterspace;
  animation-duration: 3.6s;
}

@keyframes letterspace {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  from {
    letter-spacing: -37px;
  }
  to {
    letter-spacing: 0px;
  }
}

.aboutUsParabg {
  background-color: lightgray;
  padding: 40px;
  padding-bottom: 45px;
  opacity: 0.8;
  animation-name: bgslide;
  animation-duration: 2.2s;
}

@keyframes bgslide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.aboutUsPara {
  padding: 40px;
  padding-bottom: 45px;
  text-align: center;
  font-size: 29px;
  opacity: 1;
  animation-name: fade;
  animation-duration: 4s;
}
.paraLogo {
  padding-bottom: 55px;
  animation-name: fade;
  animation-duration: 4s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a.paraLink {
  color: #020202;
  text-decoration: underline;
}
a.paraLink:hover {
  color: #ff0000;
  text-decoration: underline;
}

/* Changes made by Corey end */

.contactheading {
  padding: 20px;
  margin: 2% 4% 2% 33%;
}

.contactbox {
  width: 30%;
  padding: 0px 20px 20px 20px;
  margin: 2% 4% 2% 33%;
}

.contactbox ::placeholder {
  font-size: 14px;
}

.contactform {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contactsubmit {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.contactreset {
  background-color: darkred;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.admintext {
  text-align: center;
  padding: 12px;
  margin-bottom: 12px;
}

.adminimages {
  width: 100%;
  height: 75%;
}

.admincategories {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 25vw);
  grid-gap: 8px;
}

.adminadd {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.admindel {
  background-color: darkred;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}
